# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

if SHIELD_GUILLEM_LEFT

config ZMK_KEYBOARD_NAME
    default "Guillem"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GUILLEM_LEFT || SHIELD_GUILLEM_RIGHT

config ZMK_SPLIT
    default y

endif