#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        // Macro para enviar ñ minúscula (AltGr + N)
        macro_n_tilde: macro_n_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N>;
        };

        // Macro para enviar Ñ mayúscula (Shift + AltGr + N)
        macro_N_tilde: macro_N_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N>;
        };
    };
};
